 /* Estilos para el encabezado */
 header {
    background-color: #4249ac;
    padding: 20px;
    text-align: center;
    color: white;
}

/* Estilos para la barra de navegación */
nav a {
    color: rgb(95, 134, 241);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #dad5af;
}

/* Estilos para la sección principal */
.container {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: #4a73b1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    color: #696868;
}

.container p {
    font-size: 16px;
    color: #8970f7;
    line-height: 1.6;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}